@using TwilightImperiumUltimate.Web.Components.Shared.Layouts

<FlexColumnContainer
    AlignItems="Enums.AlignItems.Center"
    JustifyContent="Enums.JustifyContent.Center"
    Height="100"> 
    <div class="myriad-pro-regular agenda-card-text text-box @CssClass"
            style="margin-top: @($"{MarginTop}px"); font-size: @($"{FontSize}px"); color: black;">

        @foreach (var text in TextStrings)
        {
            if (Keywords is not null && Keywords.Contains(text))
            {
                <span class="handel-cz" style="font-size: @($"{FontSize-(FontSize/5)}px"); text-transform: uppercase;">@(text)</span>
            }
            else
            {
                <span>@text</span>
            }
        }
    </div>
</FlexColumnContainer>
