<div class="label handel white shadow text-no-overflow @(Vertical ? "vertical-text" : "") @(Visible ? "" : "invisible-text") @(CssClass)"
     style="font-size:@(FontSize)px;
            max-width:@(MaxWidth)%;
            min-width:@(MinWidth)%;
            width:@(Width)%;
            @(CenterText ? "text-align: center;" : "")
            color:@(SetColor());
            padding: 2px;
            padding-left: @(PaddingLeft)px;
            box-sizing: border-box;
            @(Style)">
    @Text
</div>
