@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Components.Shared.Text;

<FlexColumnCenteredContainer>
    <div class="title white handel shadow text-box @CssClass"
         style="margin-top: @(string.Concat(MarginTop, "px;"))
                font-size: @(string.Concat(FontSize, "px;"))
                margin-bottom: @(string.Concat(MarginBottom, "px;"))
                color: @(GetTextColor())">
        @Text
    </div>
</FlexColumnCenteredContainer>

