@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Components.Shared.Text

<FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart" Width="100" AlignItems="Enums.AlignItems.FlexStart">

    <TitleTexture Width="15" Texture="Enums.Texture.TopLeft" />

    <div style="width: 70%;">

        <VerticalSpace Height="50" />

        <TitleLine TransformX="@(-20)"/>

            <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart" Width="100" AlignItems="Enums.AlignItems.FlexStart">

                <div class="article-title handel-cz white shadow">
                    @(NewsArticle.Title)
                </div>

            </FlexRowContainer>

        <TitleLine TransformX="@(-20)" />

        <VerticalSpace Height="50" />

        <FlexColumnCenteredContainer>

            <div class="white shadow handel markup-text">
                @(_markupString)
            </div>

            <VerticalSpace Height="50" />

            <FlexColumnCenteredContainer>

                <div class="margin-right-10 width-100">

                    <FlexRowContainer JustifyContent="Enums.JustifyContent.SpaceEvenly">

                        <FlexColumnCenteredContainer>

                            <div class="author width handel white shadow">
                                @("Author: " + NewsArticle.User?.UserName)
                            </div>

                        </FlexColumnCenteredContainer>

                        <FlexColumnCenteredContainer>

                            <div class="author width handel white shadow">
                                @("Date: " + NewsArticle.CreatedAt.ToString("dd.  MMMM  yyyy"))
                            </div>

                        </FlexColumnCenteredContainer>

                    </FlexRowContainer>
                </div>

            </FlexColumnCenteredContainer>

        </FlexColumnCenteredContainer>

    </div>

    <div class="width-10"></div>

</FlexRowContainer>
