@using TwilightImperiumUltimate.Web.Components.Shared.Controls
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources

<FlexColumnContainer>

    <div class="settings-overlay" @onclick="HideSettings">

        <div class="settings-menu" @onclick:stopPropagation="true">

            <FlexColumnCenteredContainer>

                <NumericPicker Title="@Strings.MapGenerator_MapScale"
                               Value="@MapGeneratorSettingsService.MapScale"
                               OnDecrease="DecreaseMapScale"
                               OnIncrease="IncreaseMapScale"
                               Width="100" />

                <Title Text="Map Template:" />
                <RadzenDropDown @bind-Value="SelectedMapTemplate"
                                Data="@_mapTemplates"
                                Change="() => SetMapTemplate(SelectedMapTemplate)"
                                ValueProperty="Key"
                                TextProperty="Value"
                                Style="width: 100%; max-width: 400px;" />

                <Title Text="Placement Style:" />
                <RadzenDropDown @bind-Value="SelectedPlacementStyle"
                                Data=@_placementStyles
                                Change="() => SetPlacementStyle(SelectedPlacementStyle)"
                                ValueProperty="Key"
                                TextProperty="Value"
                                Style="width: 100%; max-width: 400px;" />

                <Title Text="System Weight:" />
                <RadzenDropDown @bind-Value="SelectedSystemWeight"
                                Data="@_systemWeights"
                                Change="() => SetSystemWeight(SelectedSystemWeight)"
                                ValueProperty="Key"
                                TextProperty="Value"
                                Style="width: 100%; max-width: 400px;" />

                <Title Text="Tiles overlay:" />
                <RadzenDropDown @bind-Value="SelectedSystemTileOverlay"
                                Data="@_systemTileOverlays"
                                Change="() => SetSystemTileOverlay(SelectedSystemTileOverlay)"
                                ValueProperty="Key"
                                TextProperty="Value"
                                Style="width: 100%; max-width: 400px;" />
            </FlexColumnCenteredContainer>
        
        </div>

    </div>

</FlexColumnContainer>
