@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@inherits TwilightImperiumBaseComponenet

<div class="hex-container"
     draggable="true" 
     @ondragstart="@(() => StartDragSystemTile(SystemTile))"
     @ondrop="@(() => DropSystemTile(SystemTile))"
     @ondrop:preventDefault="true"
     @ondragover="@(() => DragOverSystemTile(SystemTile))"
     @ondragover:preventDefault="true"
     @ondragend="@(() => EndDragSystemTile(SystemTile))"
     title="@(SystemTile.SystemTileName.ToString())">

    <img src="@ImagePath"
         style="transform: rotate(@(_degrees)deg);
                transition: transform 0.5s ease;"
        alt="Hexagon" 
        @onclick="Rotate">

    @if (Overlay == SystemTileOverlay.Id || Overlay == SystemTileOverlay.Resources || Overlay == SystemTileOverlay.Influence)
    {
        <div class="hex-text @(SystemTileOverlayColor) handel shadow">
            <FlexColumnCenteredContainer>
                @if (SystemTile!.SystemTileCategory == SystemTileCategory.Green && SystemTile.FactionName != FactionName.None
               || SystemTile.SystemTileName == SystemTileName.TileHome)
                {
                    <div class="handel green shadow">
                        @SystemTile.PlayerName
                    </div>
                }

                @if(SystemTile.SystemTileName != SystemTileName.TileHome)
                {
                    @SystemTileOverlayText
                }
            </FlexColumnCenteredContainer>
        </div>
    }
    else if (Overlay == SystemTileOverlay.ResourcesAndInfluence)
    {
        <div class="hex-text white handel shadow">
            <FlexColumnCenteredContainer>
                @if (SystemTile!.SystemTileCategory == SystemTileCategory.Green && SystemTile.FactionName != FactionName.None
                    || SystemTile.SystemTileName == SystemTileName.TileHome)
                {
                    <div class="handel green shadow">
                        @SystemTile.PlayerName
                    </div>
                }

                @if (SystemTile.SystemTileName != SystemTileName.TileHome)
                {
                    <FlexRowContainer>
                        <div class="yellow">@SystemTile.Resources</div><HorizontalSpace Width="10" />/<HorizontalSpace Width="10" /><div class="blue">@SystemTile.Influence</div>
                    </FlexRowContainer>
                }

            </FlexColumnCenteredContainer>
        </div>
    }
    else if (Overlay == SystemTileOverlay.MapPosition)
    {
        <FlexColumnCenteredContainer>
            <div class="hex-text @(SystemTileOverlayColor) handel shadow">
                @if (SystemTile!.SystemTileCategory == SystemTileCategory.Green && SystemTile.FactionName != FactionName.None
               || SystemTile.SystemTileName == SystemTileName.TileHome)
                {
                    <div class="handel green shadow">
                        @SystemTile.PlayerName
                    </div>
                }

                <div>
                    @MapPosition
                </div>
            </div>
        </FlexColumnCenteredContainer>
    }
    else
    {
        @if (SystemTile!.SystemTileCategory == SystemTileCategory.Green && SystemTile.FactionName != FactionName.None
       || SystemTile.SystemTileName == SystemTileName.TileHome)
        {
            <div class="hex-text handel green shadow">
                @SystemTile.PlayerName
            </div>
        }
    }
</div>
