@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@inherits TwilightImperiumBaseComponenet

<div class="hex-container"
     draggable="true" 
     @ondragstart="@(() => StartDragSystemTile(SystemTile))"
     @ondrop="@(() => DropSystemTile(SystemTile))"
     @ondrop:preventDefault="true"
     @ondragover="@(() => DragOverSystemTile(SystemTile))"
     @ondragover:preventDefault="true"
     @ondragend="@(() => EndDragSystemTile(SystemTile))"
     title="@(SystemTile.SystemTileName.ToString())">

    <img src="@ImagePath" alt="Hexagon">

    @if (Overlay == SystemTileOverlay.Id || Overlay == SystemTileOverlay.Resources || Overlay == SystemTileOverlay.Influence)
    {
        <div class="hex-text @(SystemTileOverlayColor) handel shadow">
            @SystemTileOverlayText
        </div>
    }
    else if (Overlay == SystemTileOverlay.ResourcesAndInfluence)
    {
        <div class="hex-text white handel shadow">
            <FlexRowContainer>
                <div class="yellow">@SystemTile.Resources</div><HorizontalSpace Width="10" />/<HorizontalSpace Width="10" /><div class="blue">@SystemTile.Influence</div>
            </FlexRowContainer>
        </div>
    }
</div>
