<div class="hex-container"
     draggable="true" 
     @ondragstart="@(() => StartDragSystemTile(SystemTile))"
     @ondrop="@(() => DropSystemTile(SystemTile))"
     @ondrop:preventDefault="true"
     @ondragover="@(() => DragOverSystemTile(SystemTile))"
     @ondragover:preventDefault="true"
     @ondragend="@(() => EndDragSystemTile(SystemTile))"
     title="@(SystemTile.Name.ToString())">

    <img src="@ImagePath" alt="Hexagon">

    @if (ShowTileId)
    {
        <div class="hex-text white handel shadow">
            @MapTileId
        </div>
    }
</div>
