@page "/game/planets"
@using System.Globalization
@using TwilightImperiumUltimate.Web.Components.Cards
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Resources

<Page>

    <StretchHeightContainer>

        <FlexColumnCenteredContainer>

            <div class="planet-container">

                @foreach (var planet in _planets)
                {
                    <FlexColumnCenteredContainer>
                        <div class="clickable" @onclick="@(() => ShowBigImage(planet, CultureInfo.CurrentCulture.Name))">
                            <VerticalCard ImagePath="@(GetPlanetImagePath(planet))" />
                        </div>
                        <VerticalSpace Height="50" />
                    </FlexColumnCenteredContainer>
                }

            </div>

            @if (showBigImage)
            {
                <div class="big-image-overlay" @onclick="HideBigImage">
                    <div class="image-container">
                        <img src="@currentBigImageSrc" @onclick="HideBigImage" />
                    </div>
                    <div id="language-menu">
                        <img src="@(GetCultureIconPath(Strings.EnglishCulture))"
                             alt="English"
                             height="50"
                             @onclick="@(() =>SetBigImageAddress(Strings.EnglishCulture))"
                             @onclick:stopPropagation="true" />
                        <img src="@(GetCultureIconPath(Strings.CzechCulture))"
                             alt="Czech"
                             height="50"
                             @onclick="@(() =>SetBigImageAddress(Strings.CzechCulture))"
                             @onclick:stopPropagation="true" />
                    </div>
                </div>
            }

        </FlexColumnCenteredContainer>

    </StretchHeightContainer>

</Page>
