@using System.Globalization;
@using Microsoft.AspNetCore.Components.Authorization
@using TwilightImperiumUltimate.Web.Components.Rules
@using TwilightImperiumUltimate.Web.Components.Shared.Controls
@using TwilightImperiumUltimate.Web.Helpers.Enums
@using TwilightImperiumUltimate.Web.Models.Cards;
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Services.Language;
@using TwilightImperiumUltimate.Web.Services.Path;
@using TwilightImperiumUltimate.Web.Services.HttpClients;

@if (_listOfCards is not null)
{
    <ResponsiveContainer Type="fluid" Padding="none">

        @if (TypeOfCard != Paths.ResourcePath_StrategyCard)
        {
            <div class="cards-filter-row">
                <GameVersionFilterDropdown GameVersions="GetAvailableGameVersions()"
                                           SelectedGameVersion="@_selectedGameVersion"
                                           SelectedGameVersionChanged="OnGameVersionFilterChanged" />
            </div>
        }

        @if (TypeOfCard == Paths.ResourcePath_StrategyCard)
        {
            <div class="cards-grid-shell">
                <ResponsiveGridContainer Columns="GetNumberOfColumns()" TabletColumns="2" MobileColumns="1" Width="100" Gap="0.625rem">
                    @foreach(var card in GetFilteredCards())
                    {
                        <div class="clickable align-center" @onclick="@(() => ShowBigImage(@card, CultureInfo.CurrentCulture.Name))">
                            <VerticalCard Name="@card.Name" TypeOfCard="@TypeOfCard" />
                        </div>
                    }
                </ResponsiveGridContainer>
            </div>
        }
        else
        {
            @foreach (var gameVersionGroup in GetSortedCards())
            {
                @if (!_selectedGameVersion.HasValue)
                {
                    <ResponsiveText Text="@gameVersionGroup.Key.GetDisplayName()" FontSize="xl" CenterText="true" CssClass="handel white shadow" />
                }

                <div class="cards-grid-shell">
                    <ResponsiveGridContainer Columns="GetNumberOfColumns()" TabletColumns="3" MobileColumns="2" Width="100" Gap="0.625rem">
                        @foreach (var card in gameVersionGroup)
                        {
                            <div class="clickable align-center" @onclick="@(() => ShowBigImage(@card, CultureInfo.CurrentCulture.Name))">
                                <VerticalCard Name="@card.Name" TypeOfCard="@TypeOfCard" />
                            </div>
                        }
                    </ResponsiveGridContainer>
                </div>

                <ResponsiveVerticalSpacer Size="2xl" />
            }
        }

    </ResponsiveContainer>


    <ResponsiveVerticalSpacer Size="2xl" />

    @if (_listOfDeprecatedCards is not null && _listOfDeprecatedCards.Count > 0 && !_selectedGameVersion.HasValue)
    {
        <ResponsiveContainer Type="fluid" Padding="none">
            <ResponsiveText Text="@Strings.Card_DeprecatedCategory" FontSize="xl" CenterText="true" CssClass="handel white shadow" />

            <div class="cards-grid-shell">
                <ResponsiveGridContainer Columns="GetNumberOfColumns()" TabletColumns="2" MobileColumns="1" Width="100" Gap="0.625rem">

                    @foreach (var card in _listOfDeprecatedCards)
                    {
                        <div class="clickable align-center" @onclick="@(() => ShowBigImage(@card, CultureInfo.CurrentCulture.Name))">
                            <VerticalCard Name="@card.Name" TypeOfCard="@TypeOfCard" />
                        </div>
                    }

                </ResponsiveGridContainer>
            </div>
        </ResponsiveContainer>
    }
}

@if (showBigImage)
{
    <div class="big-image-overlay" @onclick="HideBigImage">
        <div class="big-image-content-row">
            <div class="image-container">
                <img src="@currentBigImageSrc" @onclick="HideBigImage" />
            </div>

            <div class="language-menu language-menu-mobile" @onclick:stopPropagation="true">
                <img class="language-flag @GetLanguageFlagClass(Strings.EnglishCulture)"
                        src="@(GetCultureIconPath(Strings.EnglishCulture))"
                        alt="English"
                        height="50"
                        @onclick="@(() =>SetBigImageAddress(Strings.EnglishCulture))"
                        @onclick:stopPropagation="true" />
                <img class="language-flag @GetLanguageFlagClass(Strings.CzechCulture)"
                        src="@(GetCultureIconPath(Strings.CzechCulture))"
                        alt="Czech"
                        height="50"
                        @onclick="@(() =>SetBigImageAddress(Strings.CzechCulture))"
                        @onclick:stopPropagation="true" />
            </div>

            <div class="big-image-content-column">
                <div class="handel white shadow" style="font-size: 24px;" @onclick:stopPropagation="true">
                    @Strings.Faction_Notes
                </div>

                <ResponsiveVerticalSpacer Size="sm" />

                <div class="white shadow handel notes-panel-container">
                    <div>
                        <div class="scrollable-element">
                            @(GetSelectedCardNotes())
                        </div>
                    </div>
                </div>

                <ResponsiveVerticalSpacer Size="md" />

                <div class="handel white shadow" style="font-size: 24px;" @onclick:stopPropagation="true">
                    @Strings.Faction_Faq
                </div>

                <ResponsiveVerticalSpacer Size="sm" />

                <div class="faq-panel-container">
                    <div class="scrollable-element">
                        <div class="faq-action-row">
                            <AuthorizeView>
                                <Authorized>
                                    <Button ButtonText="@Strings.Faction_AddFaq" OnClick="AddFaq" Width="100"/>
                                </Authorized>
                            </AuthorizeView>
                        </div>
                        @foreach (var faq in GetSpecificCardFaqs())
                        {
                            <FaqRow Faq="@faq" Culture="@(currentBigImageCulture)" Width="100" />
                            <ResponsiveVerticalSpacer Size="2xl" />
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="language-menu language-menu-desktop" @onclick:stopPropagation="true">
            <img class="language-flag @GetLanguageFlagClass(Strings.EnglishCulture)"
                    src="@(GetCultureIconPath(Strings.EnglishCulture))"
                    alt="English"
                    height="50"
                    @onclick="@(() =>SetBigImageAddress(Strings.EnglishCulture))"
                    @onclick:stopPropagation="true" />
            <img class="language-flag @GetLanguageFlagClass(Strings.CzechCulture)"
                    src="@(GetCultureIconPath(Strings.CzechCulture))"
                    alt="Czech"
                    height="50"
                    @onclick="@(() =>SetBigImageAddress(Strings.CzechCulture))"
                    @onclick:stopPropagation="true" />
        </div>
    </div>
}
