@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Components.Shared.Text.CardGenerator.ObjectiveStageTwoCard
@using TwilightImperiumUltimate.Web.Components.Shared.Text.CardGenerator.SecretCard
@inherits BaseCardPreview

<CardExportArea CardTitle="@CardTitle">
    <ImageBackgroundContainer ImagePath="@BackgroundImagePath">
        <div style="display: flex; flex-direction: column; height: 750px; width: 500px;">
            <div class="objective-card-stage-two-title-area">
                <ObjectiveStageTwoCardTitle Text="@CardTitle" FontSize="@TitleFontSize" />
            </div>
            <div class="objective-card-stage-two-text-area">
                <SecretCardText Text="@CardText" KeywordText="@KeywordsText" FontSize="@TextFontSize" />
            </div>
        </div>
    </ImageBackgroundContainer>
</CardExportArea>
