<div class="handel white shadow @(CssClass)"
    style="font-size: @(FontSize)px; text-align: @(TextAlign); cursor: pointer; width:@(Width)%; @(Style)"
    @onclick="@(async () => await OnClick.InvokeAsync())">
    @MarkupString
</div>
