@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Models.Factions;
@using TwilightImperiumUltimate.Web.Resources
@using TwilightImperiumUltimate.Web.Services.HttpClients
@using TwilightImperiumUltimate.Web.Services.Path;
@inject ITwilightImperiumApiHttpClient HttpClient
@inject IPathProvider PathProvider

@if (_selectedFaction is not null)
{
    <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart" Width="100" AlignItems="Enums.AlignItems.FlexStart">

        <TitleTexture Width="15" Texture="Enums.Texture.TopLeft" />

        <FlexColumnContainer>
            <FlexRowContainer>
                <FactionNameLabel FactionName="@(_selectedFaction.FactionName)" />
            </FlexRowContainer>

            <VerticalSpace Height="50" />

            <FlexRowContainer>
                <FactionQuote FactionName="@(_selectedFaction.FactionName)" />
            </FlexRowContainer>

            <VerticalSpace Height="50" />

            <FlexColumnContainer>
                <FactionSystemStats FactionName="@(_selectedFaction.FactionName)" />
            </FlexColumnContainer>

            <VerticalSpace Height="50" />

            <FlexRowContainer>
                <FactionSystemInfo FactionName="@(_selectedFaction.FactionName)" />
            </FlexRowContainer>

            <VerticalSpace Height="50" />

            @if (_selectedFaction.FactionName != FactionName.TheFirmamentTheObsidian)
            {
                <FlexRowContainer>

                    <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(true, false)">
                        @Strings.Faction_FrontSheet
                    </div>
                    <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(false, false)">
                        @Strings.Faction_BackSheet
                    </div>

                </FlexRowContainer>
            }
            else
            {
                <FlexRowContainer>

                    <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(true, false)">
                        @Strings.Faction_FrontSheetFirmament
                    </div>
                    <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(false, false)">
                        @Strings.Faction_BackSheetFirmament
                    </div>

                </FlexRowContainer>
                <VerticalSpace Height="20" />
                <FlexRowContainer>

                    <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(true, true)">
                        @Strings.Faction_FrontSheetObsidian
                    </div>
                    <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(false, true)">
                        @Strings.Faction_BackSheetObsidian
                    </div>

                </FlexRowContainer>
            }

        </FlexColumnContainer>

        <FlexColumnCenteredContainer>
            <div class="race-image-container">
                <img src="@PathProvider.GetFactionImagePath(_selectedFaction.FactionName.ToString())" />
            </div>

            <div class="complexity-rating-container complexity-text">
                <p>@Strings.Faction_ComplexityRating</p>
                <img src="@(PathProvider.GetComplexityIconPath(_selectedFaction.ComplexityRating))" />
            </div>

            <VerticalSpace Height="20" />

            <FlexRowContainer Width="50" AlignItems="Enums.AlignItems.Center" JustifyContent="Enums.JustifyContent.Center">
                <div class="handel white shadow" style="font-size: 56px">@_selectedFaction.Commodities</div>
                <HorizontalSpace Width="10"/>
                <img src="@(PathProvider.GetIconPath(IconType.Commodities))" style="max-height: 100px;"/>
            </FlexRowContainer>
                
        </FlexColumnCenteredContainer>

    </FlexRowContainer>

    <VerticalSpace Height="50" />

    <FactionInfoRow OnFactionInfoTypeChange="SetFactionInfoType"/>

    <StretchHeightContainer>
        <FlexRowContainer>
            @DynamicComponent
        </FlexRowContainer>
    </StretchHeightContainer>

    @if (showBigImage)
    {
        <div class="big-image-overlay" @onclick="HideBigImage">
            <div class="image-container">
                <img src="@currentBigImageSrc" @onclick="HideBigImage" />
            </div>
        </div>
    }
}
