@using TwilightImperiumUltimate.Contracts.Enums
@using TwilightImperiumUltimate.Web.Components.Cards
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Resources
@using TwilightImperiumUltimate.Web.Services.Path
@using TwilightImperiumUltimate.Web.Helpers.Resources;
@inherits FactionInfoComponentBase
@inject IPathProvider PathProvider

@* TODO: Create leader API endpoint for this or include them in faction response *@
@if (Faction.FactionName != FactionName.TheNomad && Faction.FactionName != FactionName.TheCouncilKeleres && Faction.FactionName != FactionName.TheGheminaRaiders)
{
    <div class="handel white shadow leaders-grid">
        <FlexColumnCenteredContainer>
            <div>@Strings.Faction_Agent</div>
            <VerticalSpace Height="10"/>
            <div>@Strings.Faction_AgentRequirement</div>
        </FlexColumnCenteredContainer>

        <FlexColumnCenteredContainer>
            <div>@Strings.Faction_Commander</div>
            <VerticalSpace Height="10" />
            <div>@(Faction.FactionName.GetFactionUIText(FactionResourceType.CommanderRequirement))</div>
        </FlexColumnCenteredContainer>

        <FlexColumnCenteredContainer>
            <div>@Strings.Faction_Hero</div>
            <VerticalSpace Height="10" />
            <div>@Strings.Faction_HeroRequirement</div>
        </FlexColumnCenteredContainer>

        <FlexColumnCenteredContainer>
            <div class="margin">
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Agent))" />
            </div>
        </FlexColumnCenteredContainer>

        <FlexColumnCenteredContainer>
            <div class="margin">
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Commander))" />
            </div>
        </FlexColumnCenteredContainer>

        <FlexColumnCenteredContainer>
            <div class="margin">
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Hero))" />
            </div>
        </FlexColumnCenteredContainer>

    </div>
}

@if(Faction.FactionName == FactionName.TheNomad)
{
    <div class="handel white shadow leaders-grid">

        <FlexColumnCenteredContainer>
            <div>@Strings.Faction_Agent</div>
            <div>@Strings.Faction_AgentRequirement</div>
        </FlexColumnCenteredContainer>
        <FlexColumnCenteredContainer>
            <div>@Strings.Faction_Agent</div>
            <div>@Strings.Faction_AgentRequirement</div>
        </FlexColumnCenteredContainer>
        <FlexColumnCenteredContainer>
            <div>@Strings.Faction_Agent</div>
            <div>@Strings.Faction_AgentRequirement</div>
        </FlexColumnCenteredContainer>

        <FlexColumnCenteredContainer>
            <div class="margin">
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.AgentOne))" />
            </div>
        </FlexColumnCenteredContainer>
        <FlexColumnCenteredContainer>
            <div class="margin">
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.AgentTwo))" />
            </div>
        </FlexColumnCenteredContainer>
        <FlexColumnCenteredContainer>
            <div class="margin">
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.AgentThree))" />
            </div>
        </FlexColumnCenteredContainer>

        <FlexColumnCenteredContainer>
            <div>@Strings.Faction_Commander</div>
            <div>@(Faction.FactionName.GetFactionUIText(FactionResourceType.CommanderRequirement))</div>
        </FlexColumnCenteredContainer>

        <div></div>

        <FlexColumnCenteredContainer>
            <div>@Strings.Faction_Hero</div>
            <div>@Strings.Faction_HeroRequirement</div>
        </FlexColumnCenteredContainer>

        <FlexColumnCenteredContainer>
            <div class="margin">
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Commander))" />
            </div>
        </FlexColumnCenteredContainer>

        <div></div>

        <FlexColumnCenteredContainer>
            <div class="margin">
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Hero))" />
            </div>
        </FlexColumnCenteredContainer>
    </div>
}

@if (Faction.FactionName == FactionName.TheCouncilKeleres)
{
    <div class="handel white shadow">
        <FlexColumnCenteredContainer>

            <GridLayout Columns="2" Gap="20" Width="66">
                <FlexColumnCenteredContainer>
                    <div>@Strings.Faction_Agent</div>
                    <div>@Strings.Faction_AgentRequirement</div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div>@Strings.Faction_Commander</div>
                    <div>@(Faction.FactionName.GetFactionUIText(FactionResourceType.CommanderRequirement))</div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div class="margin">
                        <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Agent))" />
                    </div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div class="margin">
                        <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Commander))" />
                    </div>
                </FlexColumnCenteredContainer>
            </GridLayout>

            <GridLayout Columns="3" Gap="20" Width="100">
                <FlexColumnCenteredContainer>
                    <div>@Strings.Faction_Hero</div>
                    <div>@Strings.Faction_HeroRequirement</div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div>@Strings.Faction_Hero</div>
                    <div>@Strings.Faction_HeroRequirement</div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div>@Strings.Faction_Hero</div>
                    <div>@Strings.Faction_HeroRequirement</div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div class="margin">
                        <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.HeroOne))" />
                    </div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div class="margin">
                        <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.HeroTwo))" />
                    </div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div class="margin">
                        <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.HeroThree))" />
                    </div>
                </FlexColumnCenteredContainer>
            </GridLayout>

        </FlexColumnCenteredContainer>
    </div>
}

@if (Faction.FactionName == FactionName.TheGheminaRaiders)
{
    <div class="handel white shadow">
        <FlexColumnCenteredContainer>

            <GridLayout Columns="2" Gap="20" Width="66">
                <FlexColumnCenteredContainer>
                    <div>@Strings.Faction_Agent</div>
                    <div>@Strings.Faction_AgentRequirement</div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div>@Strings.Faction_Commander</div>
                    <div>@(Faction.FactionName.GetFactionUIText(FactionResourceType.CommanderRequirement))</div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div class="margin">
                        <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Agent))" />
                    </div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div class="margin">
                        <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Commander))" />
                    </div>
                </FlexColumnCenteredContainer>
            </GridLayout>

            <GridLayout Columns="2" Gap="20" Width="66">
                <FlexColumnCenteredContainer>
                    <div>@Strings.Faction_Hero</div>
                    <div>@Strings.Faction_HeroRequirement</div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div>@Strings.Faction_Hero</div>
                    <div>@Strings.Faction_HeroRequirement</div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div class="margin">
                        <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.HeroOne))" />
                    </div>
                </FlexColumnCenteredContainer>

                <FlexColumnCenteredContainer>
                    <div class="margin">
                        <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.HeroTwo))" />
                    </div>
                </FlexColumnCenteredContainer>
            </GridLayout>

        </FlexColumnCenteredContainer>
    </div>
}



