@using System.Globalization
@using Microsoft.AspNetCore.Components.Authorization
@using TwilightImperiumUltimate.Web.Components.Rules
@inherits FactionInfoComponentBase

<StretchHeightContainer>
    <ResponsiveContainer Type="fluid" Padding="none">
        <div class="faq-content-shell">
            <ResponsiveContainer Type="fluid" Padding="none" Width="100">
                <div class="faction-faq-navbar">
                    <ResponsiveContainer Type="fluid" Padding="none" Width="50" Style="display:flex; justify-content:space-between; align-items:center; margin-left: auto; margin-right: auto;">
                        <div class="menu-item clickable" @onclick="() => ShowNotes()">
                            @Strings.Faction_Notes
                        </div>
                        <div class="menu-item clickable" @onclick="() => ShowFaq()">
                            @Strings.Faction_Faq
                        </div>
                    </ResponsiveContainer>
                </div>
            </ResponsiveContainer>

            @if (_showFaq)
            {
                <ResponsiveContainer Type="fluid" Padding="none" Width="100" Style="display:flex; justify-content:flex-end;">
                    <AuthorizeView>
                        <Authorized>
                            <ResponsiveContainer Type="fluid" Padding="none" Width="35">
                                <Button ButtonText="@Strings.Faction_AddFaq" OnClick="AddFaq" Width="100" />
                            </ResponsiveContainer>
                        </Authorized>
                    </AuthorizeView>

                </ResponsiveContainer>

                <ResponsiveVerticalSpacer CustomHeight="20px" />

                @foreach (var faq in Faqs)
                {
                    <FaqRow Faq="@faq" Culture="@(CultureInfo.CurrentCulture.Name)" />
                    <ResponsiveVerticalSpacer CustomHeight="50px" />
                }
            }
            else if (_showNotes)
            {
                <ResponsiveContainer Type="fluid" Padding="none" CssClass="white shadow handel">
                    @(FactionNotes)
                </ResponsiveContainer>
            }
        </div>
    </ResponsiveContainer>
</StretchHeightContainer>

