@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Models.Factions;
@using TwilightImperiumUltimate.Web.Resources
@using TwilightImperiumUltimate.Web.Services.HttpClients
@using TwilightImperiumUltimate.Web.Services.Path;
@inject ITwilightImperiumApiHttpClient HttpClient
@inject IPathProvider PathProvider

@if (_selectedFaction is not null)
{
    <div class="grid-header">
        <div class="race-info-grid">
            <div class="grid-item-title grid-item">
                <img src="@(PathProvider.GetFactionIconPath(_selectedFaction.FactionName.ToString()))" />
                <FactionNameLabel FactionName="@(_selectedFaction.FactionName)" />
            </div>
            <div class="grid-item faction-info-text">
                <FactionQuote FactionName="@(_selectedFaction.FactionName)" />
            </div>
            <div class="grid-item faction-info-text">
                <FactionSystemStats FactionName="@(_selectedFaction.FactionName)" />
            </div>
            <div class="grid-item faction-info-text">
                <FactionSystemInfo FactionName="@(_selectedFaction.FactionName)" />
            </div>
            <div class="grid-item faction-info-text faction-sheet-container">
                <div class="faction-sheet-button clickable"
                    @onclick="() => ShowBigImage(true)">
                    @Strings.Faction_FrontSheet
                </div>
                <div class="faction-sheet-button clickable"
                    @onclick="() => ShowBigImage(false)">
                    @Strings.Faction_BackSheet
                </div>
            </div>
        </div>
        <div class="grid-item race-rightside-container">
            <div class="race-image-container">
                <img src="@PathProvider.GetFactionImagePath(_selectedFaction.FactionName.ToString())" />
            </div>
            <div class="complexity-rating-container complexity-text">
                <p>@Strings.Faction_ComplexityRating</p>
                <img src="@(PathProvider.GetComplexityIconPath(_selectedFaction.ComplexityRating))" />
            </div>
        </div>
    </div>

    <FactionInfoRow OnFactionInfoTypeChange="SetFactionInfoType"/>

    <StretchHeightContainer>
        <FlexRowContainer>
            @DynamicComponent
        </FlexRowContainer>
    </StretchHeightContainer>

    @if (showBigImage)
    {
        <div class="big-image-overlay" @onclick="HideBigImage">
            <div class="image-container">
                <img src="@currentBigImageSrc" @onclick="HideBigImage" />
            </div>
        </div>
    }
}
