@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Models.Factions;
@using TwilightImperiumUltimate.Web.Resources
@using TwilightImperiumUltimate.Web.Services.HttpClients
@using TwilightImperiumUltimate.Web.Services.Path;
@inject ITwilightImperiumApiHttpClient HttpClient
@inject IPathProvider PathProvider

@if (_selectedFaction is not null)
{
    <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart" Width="100" AlignItems="Enums.AlignItems.FlexStart">

        <TitleTexture Width="15" Texture="Enums.Texture.TopLeft" />

        <FlexColumnContainer>
            <FlexRowContainer>
                <FactionNameLabel FactionName="@(_selectedFaction.FactionName)" />
            </FlexRowContainer>

            <VerticalSpace Height="50" />

            <FlexRowContainer>
                <FactionQuote FactionName="@(_selectedFaction.FactionName)" />
            </FlexRowContainer>

            <VerticalSpace Height="50" />

            <FlexColumnContainer>
                <FactionSystemStats FactionName="@(_selectedFaction.FactionName)" />
            </FlexColumnContainer>

            <VerticalSpace Height="50" />

            <FlexRowContainer>
                <FactionSystemInfo FactionName="@(_selectedFaction.FactionName)" />
            </FlexRowContainer>

            <VerticalSpace Height="50" />

            <FlexRowContainer>

                <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(true)">
                    @Strings.Faction_FrontSheet
                </div>
                <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(false)">
                    @Strings.Faction_BackSheet
                </div>

            </FlexRowContainer>

        </FlexColumnContainer>

        <FlexColumnCenteredContainer>
            <div class="race-image-container">
                <img src="@PathProvider.GetFactionImagePath(_selectedFaction.FactionName.ToString())" />
            </div>

            <div class="complexity-rating-container complexity-text">
                <p>@Strings.Faction_ComplexityRating</p>
                <img src="@(PathProvider.GetComplexityIconPath(_selectedFaction.ComplexityRating))" />
            </div>
        </FlexColumnCenteredContainer>

    </FlexRowContainer>

    <VerticalSpace Height="50" />

    <FactionInfoRow OnFactionInfoTypeChange="SetFactionInfoType"/>

    <StretchHeightContainer>
        <FlexRowContainer>
            @DynamicComponent
        </FlexRowContainer>
    </StretchHeightContainer>

    @if (showBigImage)
    {
        <div class="big-image-overlay" @onclick="HideBigImage">
            <div class="image-container">
                <img src="@currentBigImageSrc" @onclick="HideBigImage" />
            </div>
        </div>
    }
}
