@using TwilightImperiumUltimate.Web.Components.Cards
@using TwilightImperiumUltimate.Web.Components.Galaxy
@using TwilightImperiumUltimate.Web.Components.MapGenerator
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Components.Technologies
@using TwilightImperiumUltimate.Web.Services.Path
@inherits FactionInfoComponentBase

@if (_systemTiles.Any())
{
    <div class="faction-components-grid">

        <div class="faction-section-title">
            <ResponsiveLabel Text="Home System &amp; Planets" CenterText="true" FontSize="sm" />
        </div>

        <ResponsiveContainer Type="fluid" Padding="none" CenteredItems="true">
            @if (_systemTiles.Count > 0)
            {
                <img src="@(PathProvider.GetLargeTileImagePath(_systemTile.SystemTileName))" class="faction-system-tile-image" />
            }
        </ResponsiveContainer>

        @if (Faction.FactionName == FactionName.TheFirmamentTheObsidian)
        {
            <ResponsiveContainer Type="fluid" Padding="none" CenteredItems="true">
                @if (_systemTiles.Count > 0)
                {
                    var _specialSystemTile = _systemTiles.Single(x => x.SystemTileName == SystemTileName.TileTE96B);
                    <img src="@(PathProvider.GetLargeTileImagePath(_specialSystemTile.SystemTileName))" class="faction-system-tile-image" />
                }
            </ResponsiveContainer>
        }

        @if (Faction.FactionName != FactionName.TheFirmamentTheObsidian)
        {
            <ResponsiveGridContainer Columns="@(_planets.Count >= 3 ? 3 : Math.Max(1, _planets.Count))" TabletColumns="2" MobileColumns="1" Width="100" Gap="10px">
                @foreach (var planet in _planets)
                {
                    <div class="faction-planet-card">
                        <PlanetCard Name="@(planet.PlanetName.ToString())" />
                    </div>
                }
            </ResponsiveGridContainer>
        }
        else if (Faction.FactionName == FactionName.TheFirmamentTheObsidian)
        {
            <ResponsiveGridContainer Columns="2" TabletColumns="2" MobileColumns="1" Width="100" Gap="10px">
                
                @foreach (var planet in _planets.Where(x => x.PlanetName == PlanetName.Cronos || x.PlanetName == PlanetName.Tallin))
                {
                    <div class="faction-planet-card">
                        <PlanetCard Name="@(planet.PlanetName.ToString())" />
                    </div>
                }

            </ResponsiveGridContainer>

            <ResponsiveGridContainer Columns="2" TabletColumns="2" MobileColumns="1" Width="100" Gap="10px">

                @foreach (var planet in _planets.Where(x => x.PlanetName == PlanetName.CronosHollow || x.PlanetName == PlanetName.TallinHollow))
                {
                    <div class="faction-planet-card">
                        <PlanetCard Name="@(planet.PlanetName.ToString())" />
                    </div>
                }

            </ResponsiveGridContainer>
        }

        <div class="faction-section-title">
            <ResponsiveLabel Text="Faction specific units" CenterText="true" FontSize="sm" />
        </div>

        @if (Faction.FactionName != FactionName.TheFirmamentTheObsidian)
        {
            <div class="faction-component-half">
                <ResponsiveVerticalSpacer CustomHeight="20px" />
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath(Faction.FactionName.ToString(), ComponentType.Mech))" />
            </div>
        }
        else
        {
            <div class="faction-component-half">
                <ResponsiveVerticalSpacer CustomHeight="20px" />
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath("TheFirmament", ComponentType.Mech))" />
            </div>

            <div class="faction-component-half">
                <ResponsiveVerticalSpacer CustomHeight="20px" />
                <HorizontalCard ImagePath="@(PathProvider.GetFactionComponenetTypeImagePath("TheObsidian", ComponentType.Mech))" />
            </div>
        }

        @if (_flagshipCards.Count > 0)
        {
            @foreach (var flagship in _flagshipCards)
            {
                <div class="faction-component-half">
                    <ResponsiveVerticalSpacer CustomHeight="20px" />
                    <HorizontalCard ImagePath="@(PathProvider.GetFlagshipImagePath(flagship.FlagshipName))" />
                </div>
            }
        }

        @if (_specialComponentCards.Count(x => x.SpecialType == SpecialComponentType.FactionUnit) > 0)
        {
            @foreach (var specialComponent in _specialComponentCards.Where(x => x.SpecialType == SpecialComponentType.FactionUnit))
            {
                <div class="faction-component-half">
                    <ResponsiveVerticalSpacer CustomHeight="20px" />
                    <HorizontalCard ImagePath="@(PathProvider.GetSpecialComponentImagePath(specialComponent.SpecialComponentName))" />
                </div>
            }

            if (_specialComponentCards.Count(x => x.SpecialType == SpecialComponentType.FactionUnit) % 2 != 0)
            {
                <div></div>
            }
        }

        <div class="faction-section-title">
            <ResponsiveLabel Text="Technologies" CenterText="true" FontSize="sm" />
        </div>

        @if (_technologies.Count > 0)
        {
            @foreach (var technology in _technologies)
            {
                <div class="faction-component-half">

                    <ResponsiveContainer Type="fluid" Padding="none" CenteredItems="true">
                        <TechnologyCard TechnologyName="technology.TechnologyName" />
                    </ResponsiveContainer>
                </div>
            }
        }

        <div class="faction-section-title">
            <ResponsiveLabel Text="Faction Promissory Note and Breakthrough" CenterText="true" FontSize="sm" />
        </div>

        @if (Faction.FactionName != FactionName.TheFirmamentTheObsidian)
        {
            <ResponsiveGridContainer Columns="@(_promissoryNotes.Count > 1 ? 2 : 1)" TabletColumns="2" MobileColumns="1" Width="100" Gap="10px">
                @foreach (var promissoryNote in _promissoryNotes)
                {
                    <div class="faction-component-vertical">
                        <ResponsiveVerticalSpacer CustomHeight="20px" />
                        <VerticalCard Name="@promissoryNote.PromissoryNoteCardName.ToString()" TypeOfCard="@Paths.ResourcePath_PromissoryCard" />
                    </div>
                }
            </ResponsiveGridContainer>
        }
        else
        {
            @foreach (var promissoryNote in _promissoryNotes)
            {
                <div class="faction-component-vertical">
                    <ResponsiveVerticalSpacer CustomHeight="20px" />
                    <VerticalCard Name="@promissoryNote.PromissoryNoteCardName.ToString()" TypeOfCard="@Paths.ResourcePath_PromissoryCard" />
                </div>
            }
        }

        @if (Faction.FactionName != FactionName.TheFirmamentTheObsidian)
        {
            <div class="faction-component-half">
                <ResponsiveVerticalSpacer CustomHeight="20px" />
                <HorizontalCard  ImagePath="@GetBreakthroughPath()" />
            </div>
        }
        else
        {
            <div class="faction-component-half">
                <ResponsiveVerticalSpacer CustomHeight="20px" />
                <HorizontalCard ImagePath="@GetSpecificBreakthroughPath("TheSowing")" />
            </div>
            <div class="faction-component-half">
                <ResponsiveVerticalSpacer CustomHeight="20px" />
                <HorizontalCard ImagePath="@GetSpecificBreakthroughPath("TheReaping")" />
            </div>
        }

        @if (_specialComponentCards.Count(x => x.SpecialType != SpecialComponentType.FactionUnit) > 0)
        {
            <div class="faction-section-title">
                <ResponsiveLabel Text="Other unique components" CenterText="true" FontSize="sm" />
            </div>
                @foreach (var specialComponent in _specialComponentCards.Where(
                    x => x.SpecialType != SpecialComponentType.Token
                        && x.SpecialType != SpecialComponentType.PlanetToken
                        && x.SpecialType != SpecialComponentType.FactionUnit
                        && x.SpecialType != SpecialComponentType.Plot
                        && x.SpecialType != SpecialComponentType.Ocean))
                {
                    @if (specialComponent.SpecialType == SpecialComponentType.VerticalCard)
                    {
                        <div class="faction-component-vertical">
                            <ResponsiveVerticalSpacer CustomHeight="20px" />
                            <VerticalCard Name="@specialComponent.SpecialComponentName.ToString()" TypeOfCard="specialcomponents" />
                        </div>
                    }
                    else if (specialComponent.SpecialType == SpecialComponentType.HorizontalCard)
                    {
                        <div class="faction-component-half">
                            <ResponsiveVerticalSpacer CustomHeight="20px" />
                            <HorizontalCard ImagePath="@(PathProvider.GetSpecialComponentImagePath(specialComponent.SpecialComponentName))" />
                        </div>
                    }
                    else
                    {
                        <div class="faction-component-half">
                            <ResponsiveVerticalSpacer CustomHeight="20px" />
                            <TokenCard ImagePath="@(PathProvider.GetSpecialComponentImagePath(specialComponent.SpecialComponentName))" />
                        </div>
                    }
                }

            @if (_specialComponentCards.Count(x => 
                    x.SpecialType != SpecialComponentType.Token
                    && x.SpecialType != SpecialComponentType.FactionUnit
                    && x.SpecialType != SpecialComponentType.Plot
                    && x.SpecialType != SpecialComponentType.Ocean
                    && x.SpecialType != SpecialComponentType.PlanetToken) % 2 == 1)
            {
                <div></div>
            }

            <div class="faction-grid-full-width">
                <ResponsiveVerticalSpacer CustomHeight="20px" />
            </div>

            @foreach (var specialComponent in _specialComponentCards.Where(x => x.SpecialType == SpecialComponentType.Plot || x.SpecialType == SpecialComponentType.Ocean))
            {
                <div class="faction-component-vertical">
                    <ResponsiveVerticalSpacer CustomHeight="20px" />
                    <VerticalCard Name="@specialComponent.SpecialComponentName.ToString()" TypeOfCard="specialcomponents" />
                </div>
            }

            <div class="faction-grid-full-width">
                <ResponsiveVerticalSpacer CustomHeight="20px" />
            </div>

            <ResponsiveContainer Type="fluid" Padding="none" CssClass="faction-grid-full-width" Style="display:flex; justify-content:center; align-items:center;">
                @foreach (var specialComponent in _specialComponentCards.Where(x => x.SpecialType == SpecialComponentType.Token || x.SpecialType == SpecialComponentType.PlanetToken))
                {
                    var width = specialComponent.SpecialType == SpecialComponentType.Token ? 25 : 35;
                    <ResponsiveContainer Type="fluid" Padding="none" Width="@width" CenteredItems="true">
                        <TokenCard ImagePath="@(PathProvider.GetSpecialComponentImagePath(specialComponent.SpecialComponentName))" />
                        <ResponsiveHorizontalSpacer Size="md" />
                        <ResponsiveLabel Text="@(specialComponent.Count.ToString() + "x")" FontSize="sm"  />
                    </ResponsiveContainer>
                }
            </ResponsiveContainer>
        }

        @if (Faction.FactionName == FactionName.TheGhostsOfCreuss || Faction.FactionName == FactionName.TheEmbersOfMuaat)
        {
            <div class="faction-section-title">
                <ResponsiveLabel Text="Extra system tiles" CenterText="true" FontSize="sm" />
            </div>

            <ResponsiveContainer Type="fluid" Padding="none" CenteredItems="true">
                @if (_systemTiles.Count > 0)
                {
                    var _tile = Faction.FactionName == FactionName.TheGhostsOfCreuss ? SystemTileName.Tile51 : SystemTileName.Tile81;
                    var _specialSystemTile = _systemTiles.Single(x => x.SystemTileName == _tile);
                    <img src="@(PathProvider.GetLargeTileImagePath(_specialSystemTile.SystemTileName))" class="faction-system-tile-image" />
                }
            </ResponsiveContainer>
        }
    </div>
}