@inherits TwilightImperiumBaseComponent

<div class="link responsive-icon @(NoPadding ? "responsive-icon-no-padding" : string.Empty)" @onclick="() => OnClick.InvokeAsync(Faction)">
    <img class="icon @GetBanIconState()"
         src="@GetFactionIconPath()"
         alt="icon for @Name"
         title="@Name">
</div>

