@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Models.Factions;
@using TwilightImperiumUltimate.Web.Resources
@using TwilightImperiumUltimate.Web.Services.HttpClients
@using TwilightImperiumUltimate.Web.Services.Path;
@inject ITwilightImperiumApiHttpClient HttpClient
@inject IPathProvider PathProvider

@if (_selectedFaction is not null)
{
    <ResponsiveContainer Type="fluid" Padding="none">
        <div class="faction-overview-shell">
            <div class="faction-overview-layout">
                <div class="faction-overview-texture">
                    <TitleTexture Width="100" Texture="Enums.Texture.TopLeft" />
                </div>

                <div class="faction-overview-grid">
                    <div class="faction-title-block">
                        <FactionNameLabel FactionName="@(_selectedFaction.FactionName)" />
                    </div>

                    <div class="faction-hero-block">
                        <ResponsiveVerticalSpacer Size="2xl" ShowOnMobile="false" />
                        <div class="race-image-container">
                            <img src="@PathProvider.GetFactionImagePath(_selectedFaction.FactionName.ToString())" />
                        </div>

                        <div class="complexity-rating-container complexity-text">
                            <p>@Strings.Faction_ComplexityRating</p>
                            <img src="@(PathProvider.GetComplexityIconPath(_selectedFaction.ComplexityRating))" />
                        </div>

                        <div class="commodities-container">
                            <div class="handel white shadow commodities-value">@_selectedFaction.Commodities</div>
                            <img class="commodity-icon" src="@(PathProvider.GetIconPath(IconType.Commodities))" />
                        </div>
                    </div>

                    <div class="faction-quote-block">
                        <FactionQuote FactionName="@(_selectedFaction.FactionName)" />
                    </div>

                    <div class="faction-system-block">
                        <FactionSystemStats FactionName="@(_selectedFaction.FactionName)" />
                        <FactionSystemInfo FactionName="@(_selectedFaction.FactionName)" />
                    </div>

                    <div class="faction-sheets-block">
                        @if (_selectedFaction.FactionName != FactionName.TheFirmamentTheObsidian)
                        {
                            <div class="faction-sheets-row">
                                <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(true, false)">
                                    @Strings.Faction_FrontSheet
                                </div>
                                <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(false, false)">
                                    @Strings.Faction_BackSheet
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="faction-sheets-row">
                                <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(true, false)">
                                    @Strings.Faction_FrontSheetFirmament
                                </div>
                                <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(false, false)">
                                    @Strings.Faction_BackSheetFirmament
                                </div>
                            </div>

                            <div class="firmament-sheet-row-spacer">
                                <ResponsiveVerticalSpacer Size="xl" />
                            </div>

                            <div class="faction-sheets-row">
                                <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(true, true)">
                                    @Strings.Faction_FrontSheetObsidian
                                </div>
                                <div class="faction-sheet-button clickable" @onclick="() => ShowBigImage(false, true)">
                                    @Strings.Faction_BackSheetObsidian
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <ResponsiveVerticalSpacer Size="2xl" />

        <FactionInfoRow OnFactionInfoTypeChange="SetFactionInfoType" />

        <ResponsiveVerticalSpacer Size="2xl" ShowOnMobile="false" />

        <div class="faction-dynamic-content-shell">
            <StretchHeightContainer>
                @DynamicComponent
            </StretchHeightContainer>
        </div>
    </ResponsiveContainer>

    @if (showBigImage)
    {
        <div class="big-image-overlay" @onclick="HideBigImage">
            <div class="image-container">
                <img src="@currentBigImageSrc" @onclick="HideBigImage" />
            </div>
        </div>
    }
}
