@using TwilightImperiumUltimate.Contracts.DTOs.Rankings
@using TwilightImperiumUltimate.Contracts.Enums
@using TwilightImperiumUltimate.Web.Helpers.Enums

<VerticalSpace Height="20" />
<Label Text="Last 50 Achievements" FontSize="28" CenterText="true" />
<VerticalSpace Height="20" />

<GridLayout CssClass="background" Style="grid-template-columns: 3% 25% 25% 17% 15% 15%">
    <VerticalSpace Height="10" CssClass="span-6" />
    <Label />
    <Label Text="Achievement" />
    <Label Text="User" />
    <Label Text="Faction" />
    <Label Text="Match" />
    <Label Text="Achieved" />
    <VerticalSpace Height="10" CssClass="span-6" />
</GridLayout>

<VerticalSpace Height="50" />

@if (_loading)
{
    <VerticalSpace Height="50" />
    <Label Text="Loading achievements..." CenterText="true" />
    <VerticalSpace Height="50" />
}
else if (_achievements.Count == 0)
{
    <VerticalSpace Height="50" />
    <Label Text="No achievements found." CenterText="true" />
    <VerticalSpace Height="50" />
}
else
{
    <FlexColumnCenteredContainer>

        @foreach (var a in _achievements)
        {
            <FlexRowContainer CssClass="background" OnClick="@(() => NavigateToProfile(a.TiglUserId))">
                <Label Width="3" />
                <Label Text="@a.AchievementName.GetDisplayName()" Width="25" TextColor="TextColor.Yellow" />
                <Label Text="@a.TiglUserName" Width="25" TextColor="TextColor.Green" />
                <Label Text="@(a.Faction == TiglFactionName.None ? "-" : a.Faction.GetDisplayName())" Width="17" />
                <div style="width: 15%" @onclick:stopPropagation="true">
                    <TextButton Text="@a.MatchName" OnClick="() => RedirectToGameDetail(a.MatchId)" Width="100" JustifyContent="Enums.JustifyContent.FlexStart" />
                </div>
                <Label Text="@FormatDate(a.AchievedAt)" Width="15" />
            </FlexRowContainer>
            <VerticalSpace Height="5" />
        }

    </FlexColumnCenteredContainer>
}

<VerticalSpace Height="20" />