@using System.Globalization;
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Services.Language;
@using TwilightImperiumUltimate.Web.Services.Path;
@inject NavigationManager NavigationManager
@inject ICultureProvider CultureProvider
@inject IPathProvider PathProvider

<div @onclick="ToggleMenu">
    <img src="@(GetCultureIconPath(CultureInfo.CurrentCulture.Name))"
         alt="Selected Country">
    <div id="country-menu" style="@(_isMenuVisible ? "" : "display:none")">
        <img src="@(GetCultureIconPath(Strings.EnglishCulture))"
             alt="English"
        @onclick="@(() =>SetCulture(Strings.EnglishCulture))" />
        <img src="@(GetCultureIconPath(Strings.CzechCulture))"
             alt="Czech"
        @onclick="@(() => SetCulture(Strings.CzechCulture))" />
    </div>
</div>

