@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Pages;

<div id="main-navbar">
    <div class="menu-item">
        <div class="menu-container">
            <a href="@Pages.Index">@Strings.Page_News</a>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-container">
        <a href="#">@Strings.Page_Game</a>
            <div class="dropdown">
                <a href="@Pages.Factions">@Strings.Page_Factions</a>
                <a href="@Pages.FactionsDS">@Strings.Page_FactionsDS</a>
                <a href="@Pages.Technologies">@Strings.Page_Technologies</a>
                <a href="@Pages.Cards">@Strings.Page_Cards</a>
                <a href="@Pages.SystemTiles">@Strings.Page_SystemTiles</a>
                <a href="@Pages.Planets">@Strings.Page_Planets</a>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-container">
            <a href="#">@Strings.Page_Community</a>
            <div class="dropdown">
                <a href="@Pages.GalaxyMap">@Strings.Page_GalaxyMap</a>
                <a href="@Pages.MapsArchive">@Strings.Page_MapArchive</a>
                <a href="@Pages.SlicesArchive">@Strings.Page_SlicesArchive</a>
                <a href="@Pages.Discord">@Strings.Page_Discord</a>
                <a href="@Pages.Async">@Strings.Page_Async</a>
                <a href="@Pages.Tigl">@Strings.Page_Tigl</a>
                <a href="@Pages.Rankings">@Strings.Page_Rankings</a>
                <a href="@Pages.Websites">@Strings.Page_OtherWebsites</a>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-container">
        <a href="#">@Strings.Page_Tools</a>
            <div class="dropdown">
@*              <a href="@Pages.DraftRooms">@Strings.Page_DraftRooms</a> *@
                <a href="@Pages.GameTracker" target="_blank">@Strings.Page_GameTracker</a>
                <a href="@Pages.ColorPicker">@Strings.Page_ColorPicker</a>
                <a href="@Pages.FactionDraft">@Strings.Page_FactionDraft</a>
                <a href="@Pages.MiltyDraft">@Strings.Page_MiltyDraft</a>
                <a href="@Pages.SliceGenerator">@Strings.Page_SliceGenerator</a>
                <a href="@Pages.MapGenerator">@Strings.Page_MapGenerator</a>
                <a href="@Pages.CardGenerator">@Strings.Page_CardGenerator</a>
@*              <a href="@Pages.BattleCalculator">@Strings.Page_BattleCalculator</a> *@
            </div>
        </div>
    </div>
    <div class="menu-item">
        <div class="menu-container">
        <a href="#">@Strings.Page_Rules</a>
            <div class="dropdown">
                <a href="@Pages.Rules">@Strings.Page_Rules</a>
                <a href="@Pages.Faq">@Strings.Page_Faq</a>
                <a href="@Pages.Resources">@Strings.Page_Resources</a>
            </div>
        </div>
    </div>
</div>
