@using TwilightImperiumUltimate.Web.Components.Shared.Controls
@using TwilightImperiumUltimate.Web.Components.Shared.GameVersions
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Resources;
@using TwilightImperiumUltimate.Web.Components.Factions;
@using TwilightImperiumUltimate.Web.Components.Shared.Text;

<FactionIconRow EnableBanMode="true"
                OnFactionClickGetFaction="UpdateBanFactions"
                OnInitializeGetFactions="InitializeBanFactions"
                ShowDiscordantStars="true"
                @ref="_factionIconRow" />

<GameVersionPicker OnVersionSelected="HandleGameVersionClick" />

<FlexColumnCenteredContainer>
    <HelpText Text="@Strings.FactionDraft_BanHelp" CssClass="margin-top-10 handel" />
</FlexColumnCenteredContainer>

<div class="setting-row">
    <NumericPicker Title="@Strings.DraftText_NumberOfPlayers"
                    Value="@FactionDraftService.NumberOfPlayers"
                    OnDecrease="DecreasePlayerCount"
                    OnIncrease="IncreasePlayerCount"
                    Width="30"/>

    <NumericPicker Title="@Strings.DraftText_NumberOfFactions"
                    Value="@FactionDraftService.NumberOfDraftFactions"
                    OnDecrease="DecreaseFactionCount"
                    OnIncrease="IncreaseFactionCount"
                    Width="40"/>
</div>

<FlexRowContainer CssClass="margin-top-50">
    <Button ButtonText="@(GetButtonStateText())"
            IsDisabled=@(IsDraftButtonDisabled())
            OnClick="DraftFactions" />

    <Button ButtonText="@Strings.DraftButton_ResetBans" 
            OnClick="ResetBans" />
</FlexRowContainer>

@if (FactionDraftService.ToManyBans)
{
    <div class="flex-column-center margin-top-10">
        <div class="flex-container-center text-small white handel shadow">
            @Strings.DraftText_DraftNotPossible
        </div>
    </div>
}

<div class="faction-draft-players-container">
    @{ int index = 0; }

    @foreach (var factionDraftPlayer in FactionDraftService.Players)
    {
        index++;
        <FactionDraftPlayerRow Player="@factionDraftPlayer" Index="@index" DraftStage="_draftStage" />
    }
</div>
