@page "/rules/resources"
@using TwilightImperiumUltimate.Web.Components.Shared
@using TwilightImperiumUltimate.Web.Components.Shared.Layouts
@using TwilightImperiumUltimate.Web.Components.Shared.Text
@using TwilightImperiumUltimate.Web.Resources
@using TwilightImperiumUltimate.Web.Services.Path
@inject IPathProvider PathProvider

<PageTitle>@Strings.Page_Resources</PageTitle>

<Page>
    <div class="resource-grid handel white shadow">

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_CompleteReferenceLink)" target="_blank">@Strings.RulesResource_CompleteReference</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_CompleteReferenceLink)" target="_blank" download="@(Strings.RulesResource_CompleteReference)">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_LearnToPlayLink)" target="_blank">@Strings.RulesResource_LearnToPlay</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_LearnToPlayLink)" target="_blank" download="@Strings.RulesResource_LearnToPlay">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_SummaryLink)" target="_blank">@Strings.RulesResource_Summary</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_SummaryLink)" target="_blank" download="@Strings.RulesResource_Summary">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_CheatSheetLink)" target="_blank">@Strings.RulesResource_Cheatsheet</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_CheatSheetLink)" target="_blank" download="@Strings.RulesResource_Cheatsheet">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_GuideToTheImperiumLink)" target="_blank">@Strings.RulesResource_GuideToTheImperium</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_GuideToTheImperiumLink)" target="_blank" download="@Strings.RulesResource_GuideToTheImperium">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_LivingRulesReferenceLink)" target="_blank">@Strings.RulesResource_LivingRulesReference</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_LivingRulesReferenceLink)" target="_blank" download="@Strings.RulesResource_LivingRulesReference">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_ProphecyOfKingsRulesLink)" target="_blank">@Strings.RulesResource_ProphecyOfKingsRules</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_ProphecyOfKingsRulesLink)" target="_blank" download="@Strings.RulesResource_ProphecyOfKingsRules">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_LivingRulesReferenceTwoLink)" target="_blank">@Strings.RulesResource_LivingRulesReferenceTwo</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_LivingRulesReferenceTwoLink)" target="_blank" download="@Strings.RulesResource_LivingRulesReferenceTwo">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_FaqLink)" target="_blank">@Strings.RulesResource_Faq</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_FaqLink)" target="_blank" download="@Strings.RulesResource_Faq">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_FaqTwoLink)" target="_blank">@Strings.RulesResource_FaqTwo</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_FaqTwoLink)" target="_blank" download="@Strings.RulesResource_FaqTwo">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>

        <FlexRowContainer>
            <a href="@(Strings.RulesResource_AgendaPhaseLink)" target="_blank">@Strings.RulesResource_AgendaPhase</a>
        </FlexRowContainer>

        <FlexRowContainer JustifyContent="Enums.JustifyContent.FlexStart">
            <a href="@(Strings.RulesResource_AgendaPhaseLink)" target="_blank" download="@Strings.RulesResource_AgendaPhase">
                <FlexRowContainer>
                    <HorizontalSpace Width="100" />
                    <img src="@(PathProvider.GetIconPath(IconType.PdfDownload))" />
                    <HorizontalSpace Width="20" />
                    <div>Download</div>
                </FlexRowContainer>
            </a>
        </FlexRowContainer>
    </div>
</Page>
